<div class="valign-wrapper grey-text alto500">
	<div class="row valign center red-text">
	  <h5>Ocurrió un error. Intenta recargar la página <i class="fa fa-refresh fa-spin"></i></h5>
		<p><strong>Detalle:</strong> </p>
		<p><code>{{model}}</code></p>
	</div>
</div>
