<h2>Backend</h2><hr>

<ul class="nav nav-tabs" role="tablist">
    <li>{{#link-to 'documentacion.backend'}}{{tag 'formato'}}{{/link-to}}</li>
    <li>{{#link-to 'documentacion.backend.ruteo'}}{{tag 'ruteo'}}{{/link-to}}</li>
    <li>{{#link-to 'documentacion.backend.respuestas'}}{{tag 'respuestas'}}{{/link-to}}</li>
</ul>

<div class="row">
    {{outlet}}
</div>