<h2>Diccionario</h2><hr>
<p>Este es un ejemplo del diccionario que se utilizará para todas las etiquetas y los mensajes que se desplegarán en la vista.</p>
<p>Cada módulo del sistema debe ser incluido al diccionario, y la clave del título del módulo será igual al id utilizado para su ruteo. Esta exigencia facilitará el manejo de rutas dinámicas.</p>
<pre>{{ diccionario }}</pre>