<h2>Frontend</h2><hr>

<h3>HTML y CSS</h3>
<ul>
    <li><strong>IDs del DOM y Clases (estilos):</strong> minúsculas y guiones medios.</li>
</ul>

<h3>Javascript</h3>
<ul>
    <li><strong>Funciones y Objetos Ember - CamelCase:</strong> primera letra de cada palabra en mayúsculas, sin guiones.</li>
    <li><strong>Variables y atributos de clases:</strong> minúsculas y guiones bajos.</li>
</ul>

<h3>Ruteo de vistas</h3>
<p>Las url deberán estar escritas totalmente en minúsculas, sin guiones.</p>
<ul>
    <li><strong>/cosas/</strong> para listar</li>
    <li><strong>/cosas/nuevo</strong> para formulario de agregar entrada.</li>
    <li><strong>/cosas/n</strong> para ver formulario de vista/edición de la entrada con id "n"</li>
</ul>