<p>
    El proyecto de <em>K-Frontend</em> será único para todas las aplicaciones móviles a desarrollarse por Konecta, como Rastreo, Visitas, y las que se modelen posteriormente. Por este motivo es indispensable seguir reglas claras antes de sentarse a programar para estos proyectos, tanto para backend como frontend y la interacción entre los mismos.
</p>
<p>
    En esta sección se encuentran las convenciones consideradas como indispensables para empezar a trabajar. Las mismas deben ser seguidas al pie de la letra para asegurar la construcción de un sistema sólido, estandarizado y de fácil mantenimiento.
</p>
<p class="text-danger">
    Si por alguna razón el desarrollador requiere crear algo no cubierto en estas convencenciones, primeramente debe crear una tarjeta en la columna <strong>Definiciones</strong>  y aplicar la etiqueta con el mismo nombre en el Trello de K-Frontend, y deberá esperar la respuesta del equipo de definiciones con la guía necesaria para la realización de su trabajo. <strong>Es indispensable que todos sigan este proceso a fin de asegurar que cada detalle implementado sea debidamente estandarizado y documentado.</strong>
</p>
<p>
    Ante cualquier duda respecto al contenido de este apartado, la primera vía es el Trello, y en caso de no tener acceso pueden consultar a <a href="mailto:nelson.paez@konecta.com.py">Nelson</a> mediante correo electrónico.
</p>