<h2>Trello</h2><hr>
<p>
    Todo el proceso de definición de estándares y procedimientos se realiza en el Trello de <em>K-Frontend</em>, en consecuencia es sumamente importante que se utilice el sistema de etiquetas correctamente.
</p>
<p class="text-center"><img src="img/trello/etiquetas.png"/></p>
<ul>
<li>
    <strong>Ember/Script:</strong> Esta etiqueta debe ser utilizada para acciones que requieran ser implementadas en cualquiera de los scripts de Ember.
</li>
<li>
    <strong>Definiciones:</strong> Etiqueta para cosas que faltan definirse, tanto a nivel de convenciones como de interfaz.
</li>
<li>
    <strong>CSS:</strong> Etiqueta para todo lo relacionado a estilos de interfaz.
</li>
<li>
    <strong>Corregir Error:</strong> Etiqueta para el reporte de errores (bugs).
</li>
<li>
    <strong>Urgente:</strong> Todo lo que sea de extrema urgencia. Cuando algo es necesario para continuar con las siguientes tareas pendientes.
</li>
<li>
    <strong>Influye en la definición del backend:</strong> Las definiciones que establecen la forma de trabajar en el backend, como las definiciones de los servicios, deben llevar esta etiqueta.
</li>
</ul>