{{view "barraAcciones"}}
<form role="form" class="form-horizontal">
  <fieldset>
    <div class="datos col m10">
      <div class="input-field">
        <label>{{tag "nombre"}}</label>
        <div class="col m10">
          {{view Ember.TextField valueBinding="nombre" class="form-control"}}
        </div>
        <div class="col m3 form-error">
          {{#each error in errors.nombre}}
            {{error.message}}
          {{/each}}
        </div>
      </div>
      
    </div>
  </fieldset>
</form>