{{view "barraAcciones"}}
<!-- Cabecera -->
<div class="row">
	<div class="col m12 cabecera-object-index">
		<h2>{{model.nombre}} <small>{{model.alias}}</small></h2>
		<h4>{{model.destinatario}}</h4>
		<!-- datos -->
		
	</div>
</div>