.map-container {
    position: relative;
    overflow: hidden;
    // width: 500px;
    // height: 400px;
}
.map-container:before, .map-container:after, .map-canvas:before, .map-canvas:after {
    position: absolute;
    display: block;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    content: '';
    z-index: 5;
}
.map-container:before {
    top: -5px;
    left: 0;
    right: 0;
    height: 5px;
}
.map-container:after {
    right: -5px;
    top: 0;
    bottom: 0;
    width: 5px;
}
.map-canvas:before{
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
}
.map-canvas:after{
    left: -5px;
    top: 0;
    bottom: 0;
    width: 5px;
}
.map-canvas {
    width: inherit;
    height: inherit;
}
