{{view "barraAcciones"}}
<form role="form" class="form-horizontal">
  <div class="datos col m10">
    <div class="input-field">
      <label>{{tag "nombre"}}</label>
      <div class="col m10">
        {{view Ember.TextField valueBinding="nombre" class="form-control"}}
      </div>
    </div>
  </div>
</form>