<div class="valign-wrapper grey-text alto500">
	<div class="row valign center">
		<div class="progress">
		      <div class="indeterminate"></div>
		  </div>
	  <h5>Cargando la lista de Empresas</h5>
	</div>
</div>
