<h3>Formato de servicios</h3>
<ul>
    <li>Solamente minúsculas, sin guiones.</li>
    <li>Todas las palabras de las url, incluidas las acciones, deben estar siempre en español.</li>
    <li>Siempre que sea posible, resumir la acción a una única palabra, por ejemplo en lugar de "descargarplantilla" utilicemos "plantilla" (nótese que utilizamos "plantilla" en lugar de "template" puesto que por convención solo aceptamos palabras en español).</li>
</ul>