{{view "barraAcciones"}}
<div class="table-responsive col m12 hide-on-med-and-down">
  <table class="striped">
    <thead>
      <tr>
        <th>{{view "tituloColumna" nombre="nombre"}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each rol in model}}
        {{#view "filaTabla" modelo=rol}}
          <td>{{rol.nombre}}</td>
          <td class="right-align">
            {{#link-to "rol" rol class="btn btn-xs teal"  title="Abrir"}} <i class="icon icon-eye"></i> {{/link-to}}
            {{#link-to "rol.permisos" rol class="btn btn-xs teal"  title="Asignar permisos"}}
              <i class="icon icon-key"></i>
            {{/link-to}}
            {{#link-to "rol.edit" rol class="btn btn-xs teal"  title="Editar"}} <i class="icon icon-pencil"></i> {{/link-to}}

          </td>
        {{/view}}
      {{/each}}
    </tbody>
  </table>
</div>
